/*
 * Copyright © 2016-2017 OpenXcom Mod Portal Developers
 *
 * This file is part of OpenXcom Mod Portal.
 *
 * OpenXcom Mod Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * OpenXcom Mod Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with OpenXcom Mod Portal. If not, see <http://www.gnu.org/licenses/>.
 */

/* Basic page structure, using flexbox */
body, html{
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
}

div#content{
    flex-grow: 1;
    background: #ffffff;
}

/* Alerts are shown here */
div#alert-container{
    height: 0px;
    position:relative;
    top: .5rem;
}

/* The "transparent" header zone in the page */
div#header{
    height: 200px;
}

/* 
    Keep the body vertical scrollbar visible at all times (including when a
    modal is opened), and prevent the body from shifting with the modal open

    TODO: Validate with multiple browsers and operating systems
*/

body {
    overflow-y: scroll;
}

div.modal {
    overflow-y: auto;
    padding-right: 0px !important
}

body.modal-open {
    overflow: auto;
    overflow-y:scroll
}

body.modal-open[style] {
    padding-right: 15px !important;
}

/* Some text need to not be forced to stick to one line */
.white-space-normal {
    white-space: normal;
}

/* Header text needs to have a grey background, to improve readability on dark images */
div#header{
    text-shadow: 1px 1px 2px #cccccc, 0 0 1em #cccccc, 0 0 0.2em #cccccc;
}

div.card a.card-link span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
    div#header h1 {
        font-size: 1.50rem;
        padding-top: 0rem !important
    }
    div#header p {
        /*display: none;*/
        font-size: .90rem;
        line-height: 1.15;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) { 

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) { 

}