/*
 * Copyright © 2016-2017 OpenXcom Mod Portal Developers
 *
 * This file is part of OpenXcom Mod Portal.
 *
 * OpenXcom Mod Portal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * OpenXcom Mod Portal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with OpenXcom Mod Portal. If not, see <http://www.gnu.org/licenses/>.
 */

/* Basic page structure, using flexbox */
body, html{
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

div#content{
    flex-grow: 1;
}

/* Alerts are shown here */
div#alert-container{
    height: 0px;
    position:relative;
    top: .5rem;
}

/* The "transparent" header zone in the page */
div#header{
    height: 200px;
}

/* Keep the body vertical scrollbar visible at all times (including when a modal is opened) */
body, body.modal-open {
    overflow-y: scroll;
}